$blanco: #fff;
$rosa: #E0C5A4;
$verde: #88a704;
$titulo: #333;
$black: #1d1d1d;
$timing        : 265ms;
$iconColor     : #ff003c;
$accent        : #c648c8;
$grape         : #7b00e0;
$orchid        : #ae31d9;